:root {
  --font-heading-l-font-family: "Poppins", Helvetica;
  --font-heading-l-font-weight: 700;
  --font-heading-l-font-size: 48px;
  --font-heading-l-letter-spacing: 0px;
  --font-heading-l-line-height: normal;
  --font-heading-l-font-style: normal;
  --font-heading-m-font-family: "Poppins", Helvetica;
  --font-heading-m-font-weight: 600;
  --font-heading-m-font-size: 28px;
  --font-heading-m-letter-spacing: 0px;
  --font-heading-m-line-height: normal;
  --font-heading-m-font-style: normal;
  --font-heading-tags-font-family: "Inter", Helvetica;
  --font-heading-tags-font-weight: 500;
  --font-heading-tags-font-size: 14px;
  --font-heading-tags-letter-spacing: 0px;
  --font-heading-tags-line-height: normal;
  --font-heading-tags-font-style: normal;
  --font-body-m-font-family: "Inter", Helvetica;
  --font-body-m-font-weight: 400;
  --font-body-m-font-size: 16px;
  --font-body-m-letter-spacing: 0px;
  --font-body-m-line-height: normal;
  --font-body-m-font-style: normal;
  --font-button-primary-font-family: "Inter", Helvetica;
  --font-button-primary-font-weight: 600;
  --font-button-primary-font-size: 20px;
  --font-button-primary-letter-spacing: 0px;
  --font-button-primary-line-height: normal;
  --font-button-primary-font-style: normal;
  --font-button-m-font-family: "Inter", Helvetica;
  --font-button-m-font-weight: 600;
  --font-button-m-font-size: 16px;
  --font-button-m-letter-spacing: 0px;
  --font-button-m-line-height: normal;
  --font-button-m-font-style: normal;
  --font-button-s-font-family: "Inter", Helvetica;
  --font-button-s-font-weight: 600;
  --font-button-s-font-size: 14px;
  --font-button-s-letter-spacing: 0px;
  --font-button-s-line-height: normal;
  --font-button-s-font-style: normal;
  --collection-1-color-brand-primary: rgba(231, 108, 46, 1);
  --collection-1-color-brand-secondary: rgba(17, 68, 92, 1);
  --collection-1-color-background-surface: rgba(246, 242, 219, 1);
  --collection-1-color-border-default: rgba(229, 231, 235, 1);
  --collection-1-color-text-primary: rgba(17, 68, 92, 1);
  --collection-1-color-text-onprimary: rgba(255, 255, 255, 1);
  --collection-1-button-hover: rgba(198, 75, 13, 1);
  --collection-1-color-brand-progress: rgba(87, 195, 60, 1);
  --collection-1-color-brand-completed: rgba(39, 125, 17, 1);
  --collection-1-color-brand-overlay: rgba(17, 68, 92, 0.2);
  --collection-1-button-secondary-hover: rgba(217, 212, 180, 1);
}
